@using SiBRute.Model.Common
@model IEnumerable<IBikeRoute>


@{
   ViewBag.Title = "Popis ruta";
}

<div class="container">

   <div>

      <table class="table">
         <thead>
            <tr>
               <th>DULJINA</th>
               <th>NAZIV</th>
               <th>MJESTA</th>
               <th>DATUM</th>
               <th>AUTOR</th>
            </tr>
         </thead>
         <tbody>
            @{
               int i = 0;

               foreach (var route in Model)
               {
                  if (i % 2 == 0)
                  {
                     <tr class="table-row" onclick="location.href = '@(Url.Action("DetailsAsync", "Routes", new {routeId=route.Id}))'">
                        <td>@route.Distance km</td>
                        <td>@route.Name</td>
                        <td>@route.Places</td>
                        <td>@route.DateCreated.ToShortDateString()</td>
                        <td>@route.Author</td>
                     </tr>
                  }
                  else
                  {
                     <tr class="table-row background-dark" onclick="location.href = '@(Url.Action("DetailsAsync", "Routes", new {routeId=route.Id}))'">
                        <td>@route.Distance km</td>
                        <td>@route.Name</td>
                        <td>@route.Places</td>
                        <td>@route.DateCreated.ToShortDateString()</td>
                        <td>@route.Author</td>
                     </tr>
                  }
                  i++;
               }
}

         </tbody>
      </table>
   </div>
</div>
